html { height: 100%; }

body {
    background-color: #101024;
    padding: 0;
    margin: 0;
    height: 100%;
}

div.wrap {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

canvas#game {
    border: 2px solid #ec8a4b;
    display: block;
}
